<div class="row">
    <div class="col-lg-12">
        <h1>How to Bootstrap-Sass</h1>
        <h2>Introduction</h2>
        <p>Welcome! Let's cut straight to the point and figure out if you should really be reading this. The following describes what will be covered in this guide, who it is intended for, and why you should be learning it.</p>
    </div>
</div>
<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>What</h3></div>
        <div class="panel-body">
            <p>This guide aims to show how to use <a href="http://getbootstrap.com/">Bootstrap v3</a> with <a href="http://sass-lang.com/">Sass</a> in a <a href="https://nodejs.org/en/">Node</a> environment. It is not intended to be a definative guide, and
                does not cover many basic aspects that can be found elsewhere. It is intended to help create a quick environment in which you can start learning how to use Sass with Bootstrap, and provide basics for how to interact with the Bootstrap
                files and other files you create.</p>
            <p> This guide will cover: </p>
            <ul>
                <li>Which Node modules to use</li>
                <li>Folder structure</li>
                <li>Naming convention</li>
                <li>Compiling</li>
                <li>Customizing Bootstrap</li>
                <li>Sass functionality</li>
                <li>How to make a developement environemtn from which you can learn and apply skills</li>
            </ul>
            <p>This guide will not cover:</p>
            <ul>
                <li>Advnaced Sass functionality</li>
                <li>How to create a full Bootstrap theme</li>
                <li>Website Layout, design, or creating a site with Bootstrap</li>
                <li>How to create a production ready environment or workflow</li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>Who</h3></div>
        <div class="panel-body">
            <p>This guide is intended for users who have a working knowlege of Bootstrap and Node, and would like to add in Sass into their workflow. No prior knowledge of Sass is assumed, and reading this will by no means make you a pro in it. It is provided
                as a quick start to being able to style your Bootstrap by following over tutorials on how to use Sass.</p>
            <p>While it does help, it is not nessecary to have knowledge of technologies used in this to follow along, and links will be provided for basic concepts and more advanced topics.</p>
            <p>This guide will not be covering any design fundamentals, creating site layouts, themes, or any other topics along those lines.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>Why</h3></div>
        <div class="panel-body">
            <p>There is no point in reinventing the wheel (this is exactly why we use Bootstrap). So, instead of explaining why you should use Sass, then here you go:</p>
            <ul>
                <li><a href="http://www.webdesignerdepot.com/2014/08/5-reasons-you-should-be-using-sass-today/">5 reasons you should be using Sass today</a></li>
                <li><a href="http://www.webinsation.com/benefits-of-using-sass-over-traditional-css/">Benefits of using Sass over traditional CSS</a></li>
                <li><a href="https://www.urbaninsight.com/2012/04/12/ten-reasons-you-should-be-using-css-preprocessor">Ten reasons you should be using CSS preprocessor</a></li>
            </ul>
            <p>I will however mention why with Bootstrap 3 I am using Sass instead of Less (which is the standard).</p>
            <ol>
                <li>Bootstrap 4 (only in alpha now) uses Sass instead of Less</li>
                <li>It is far more popular, therefore more likely to have future support (see <a href="https://www.keycdn.com/blog/sass-vs-less/">Sass vs Less</a>)</li>
                <li>There is far less straight forward documentation for using Sass with Bootstrap, so why not make some</li>
            </ol>
        </div>
    </div>
</div>
<div class="row"> <a href="/setup" class="btn btn-primary">Let's get started!</a> </div>
