extends layout

block content
  script.
    window.localStorage.setItem('access_token', '#{access_token}');
    window.localStorage.setItem('id_token', '#{id_token}');
    window.localStorage.setItem('exp', '#{exp}'); 
    window.location = window.location.origin;
